:root {
  /* set default sRGB colors*/
  --yellow: #fa0;
  --blue: #05f; }

@supports (color: color(display-p3 1 1 1/1)) {
  /* Set correct yellow & blue directly. */
  /* For details, see <https://twitter.com/i/web/status/1106633444157607936> */
  :root {
    --yellow: color(display-p3 1 0.67 0.00 / 1);
    --blue: color(display-p3 0 0.33 1 / 1); } }
/* place css vars into scss vars */
/* fonts */
/*
@font-face {
	font-family: "odachi";
	src: url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Odachi.woff") format('woff');
}
@font-face{
        font-family:"Rational-Display-Light";
        src:url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366467/a236111e-2bcc-4e04-8ff0-e36a9ae5246a.eot?#iefix");
        src:url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366467/a236111e-2bcc-4e04-8ff0-e36a9ae5246a.eot?#iefix") format("eot"),url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366467/ef1c1c55-0c6d-43fa-af11-cbed217ff4c8.woff2") format("woff2"),url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366467/74eb922c-4d63-4768-bf54-fb70019ed600.woff") format("woff"),url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366467/d81b4ad2-845d-4a06-ba07-b644d4a12e06.ttf") format("truetype");
    }
    @font-face{
        font-family:"Rational-Display-SmBd";
        src:url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366957/e2639237-fb04-4129-944e-72fff90c2f11.eot?#iefix");
        src:url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366957/e2639237-fb04-4129-944e-72fff90c2f11.eot?#iefix") format("eot"),url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366957/c67a126e-f963-4b3f-8224-c639587219b8.woff2") format("woff2"),url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366957/c4957af6-8766-4d4d-8542-d561de2fef63.woff") format("woff"),url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Fonts/5366957/f0b393f8-6c9c-4335-a66c-4fea76a55ea8.ttf") format("truetype");
    }
*/
@font-face {
  font-family: "odachi";
  src: url("https://cdn.jsdelivr.net/gh/ehne/ehne.github.io/cdn/lit/Odachi.woff") format("woff"); }
/* end fonts */
/* font classes */
.bold-font, b {
  font-family: "manrope", sans-serif;
  font-weight: 800; }

.odachi {
  font-family: odachi, sans-serif; }

/* end font classes */
body {
  background-color: #fff;
  color: #000;
  border-top: 10px solid var(--yellow); }
  body.darkmode--activated {
    border-top: 10px solid #fff; }

.visibledesktop {
  display: block; }

.visibledevice {
  display: none; }

@media screen and (max-width: 396px) {
  .visibledevice {
    display: block; }

  .visibledesktop {
    display: none; }

  body {
    margin-top: 8px;
    border: none; }
    body.darkmode--activated {
      margin-top: 0px;
      border-top: 8px solid #000; } }
.hidden {
  display: none; }

* + * {
  box-sizing: border-box;
  margin: 0.5em 0; }

@media (min-width: 35em) {
  .col {
    display: table-cell; }

  .\31  {
    width: 5%; }

  .\33  {
    width: 22%; }

  .\34  {
    width: 30%; }

  .\35  {
    width: 40%; }

  .\32  {
    width: 15%; }

  .row {
    display: table;
    border-spacing: 1em 0; } }
.row, .w-100 {
  width: 100%; }

.card:focus, hr {
  outline: 0;
  border: solid var(--yellow); }

.darkmode--activated hr {
  border: solid var(--blue); }

.card, pre {
  padding: 1em;
  border: solid #eee; }

.btn:hover, a:hover {
  color: var(--blue); }

.c {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  font: 1em/1.6    "manrope", sans-serif; }

h6 {
  font: 300 1em "manrope", sans-serif; }

h5 {
  font: 300 1.2em "manrope", sans-serif; }

h3 {
  font: 300 2em "manrope", sans-serif; }

h4 {
  font: 300 1.5em "manrope", sans-serif; }

h2 {
  font: 300 2.2em "manrope", sans-serif; }

h1 {
  font: 300 2.5em "manrope", sans-serif; }

a {
  color: var(--yellow);
  text-decoration: none; }

.darkmode--activated a {
  color: var(--blue); }

.darkmode--activated a:hover {
  color: #000; }

.btn.primary {
  color: #fff;
  background: var(--yellow);
  border: solid var(--yellow); }

pre {
  overflow: auto; }

td, th {
  padding: 1em;
  text-align: left;
  border-bottom: solid #eee; }

.btn {
  cursor: pointer;
  padding: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #fff;
  border: solid;
  font: 0.7em "Manrope", sans-serif; }

.line-shrink {
  line-height: 5px; }

.black {
  color: #000; }

/*# sourceMappingURL=lit.css.map */
