body,
html {
font-family: "Manrope", sans-serif;
font-size:100%;
background-color: #000000;
color:#fff;
height: calc(100% - 10px);
display: grid;
}
a{
    color:#ffc53f;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    text-decoration: none;
}
a:hover{
    color:#ffc53fcc
}

.navbar-link{
    color:#fff;
    font-size: 1.5em;
    text-decoration: underline;
}