---
import Index from '../components/indexPage.astro';
import Head from '../components/head.astro';
import '../lib/styles.css';
---
<html lang="en">
	<head>
		<Head />
		<title>Page not found | darcylf.me</title>
	</head>
	<body>
		<div class="page-container">
      <br>
      <h2 class="heading"> 404</h2>.
      <br>
      The page you were looking for can't be found.
      <ul class="section">
        <li><a href="javascript:history.back()">Go back</a>.</li>
        <li>Go to <a href="/">darcylf.me</a>.</li>
      </ul>
      <div class="color-bar" />
    </div>
	</body>
</html>
