doctype html
html(lang="en")
    include head.html
    style
        include 404-styles.css
    body
        div.c
            div 
                h1 404
            div.looks looks like that page doesn't exist.
            div 
                a(href="javascript:history.back()") go back
                span.em-dash —
                a(href="/") go to darcylf.me
            
