:root {
  --color-accent: #fa0;
  --color-background: #fff;
  --color-text: #000;
  --color-link-hover: #f05;
  --color-link: #05f;
  --weight-link: 300;
}
@supports (color: color(display-p3 1 1 1/1)) {
  /* Set correct yellow & blue directly. */
  /* For details, see <https://twitter.com/i/web/status/1106633444157607936> */
  :root {
    --color-accent: color(display-p3 1 0.67 0 / 1);
    --color-link: color(display-p3 0 0.33 1 / 1);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #ffc53f;
    --color-background: #000;
    --color-text: #fff;
    --color-link-hover: #ffc53fcc;
    --color-link: #ffc53f;
    --weight-link: 400;
  }
}

body,
html {
  height: calc(100% - 10px);
  display: grid;
  border-top: 10px solid var(--color-accent);
  font-family: "Manrope", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.visibledesktop {
  display: block;
}

.visibledevice {
  display: none;
}

@media screen and (max-width: 396px) {
  .visibledevice {
    display: block;
  }

  .visibledesktop {
    display: none;
  }
}

.main {
  /* thing to center */
  margin: auto;
  text-align: center;
  padding: 8px;
}
h1 {
  font-size: calc(2.5em + 1vw);
  font-weight: 900;
}
h2 {
  font-size: calc(1.7em + 1vw);
  margin-top: -10px;
  font-weight: 400;
}
h2.top {
  margin-bottom: -20px;
}

a {
  text-decoration: none;
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}
.socials{
	font-size: calc(1em + 1vw);
}
span {
  margin-left: 4px;
  margin-right: 4px;
}
.mobile {
  padding: 16px;
  padding-top: calc(10vh + 20px);
}

li {
  padding-bottom: 8px;
}
ul {
  padding-inline-start: 0em;
  list-style-type: none;
}
.underline {
  text-decoration: underline;
}
span.left {
  margin-left: 8px;
}

li {
  font-size: calc(1.5em + 1vw);
  font-weight: 300;
}
