.is-toggle-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.is-toggle-label-text {
  margin-left: 8px;
  margin-right: 8px;
}

.is-toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: $overlay-background-color;
  overflow: hidden;
}

.is-toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.is-toggle-active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: $color-accent;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.is-toggle-state {
  display: none !important;
}

.is-toggle-indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.is-toggle-state:checked ~ .is-toggle-active-bg {
   transform: translate3d(-50%, 0, 0);
}

.is-toggle-state:checked ~ .is-toggle-inner .is-toggle-indicator {
   transform: translate3d(25%, 0, 0);
}

.is-toggle-active-bg.is-red {
    background: $color-red;
}

.is-toggle-active-bg.is-blue {
    background: $color-blue;
}

.is-toggle-active-bg.is-green {
    background: $color-green;
}

.is-toggle-active-bg.is-black {
    background: $color-black;
}

.is-toggle-active-bg.is-violet {
    background: $color-violet;
}
